Source: turtlebot-ros-groovy
Section: science
Priority: extra
Maintainer: I Heart Engineering <code@iheartengineering.com>
Build-Depends: debhelper (>= 5), cdbs
Standards-Version: 3.9.3

Package: turtlebot-ros-groovy
Architecture: any
Depends: ${misc:Depends}, python, daemontools, build-essential, python-rosdep, python-rosinstall, python-rospkg, libprotobuf-dev, libprotoc-dev, libtar-dev, ros-groovy-ros-comm, ros-groovy-geometry-msgs, ros-groovy-sensor-msgs, ros-groovy-nav-msgs, ros-groovy-tf, ros-groovy-pcl, ros-groovy-pcl-ros, ros-groovy-nodelet, ros-groovy-robot-state-publisher, ros-groovy-diagnostic-msgs, ros-groovy-dynamic-reconfigure, ros-groovy-ecl-thread, ros-groovy-ecl-devices, ros-groovy-ecl-streams, ros-groovy-ecl-mobile-robot, ros-groovy-diagnostics, ros-groovy-xacro, ros-groovy-visualization-common, ros-groovy-navigation, ros-groovy-slam-gmapping, ros-groovy-bullet, ros-groovy-zeroconf-avahi, ros-groovy-openni-launch, ros-groovy-rviz, ros-groovy-robot-model-visualization, ros-groovy-rqt, ros-groovy-joystick-drivers, ros-groovy-image-transport, ros-groovy-image-transport-plugins, ros-groovy-multimaster-experimental, ros-groovy-warehouse-ros, ros-groovy-python-orocos-kdl, ros-groovy-dynamixel-motor 
Provides: turtlebot-ros
Description: ROS Groovy specific files for TurtleBot 2
Conflicts: 
