Source: turtlebot-ros-hydro
Section: science
Priority: extra
Maintainer: NE Automation <code@neautomation.com>
Build-Depends: debhelper (>= 5), cdbs
Standards-Version: 3.9.3

Package: turtlebot-ros-hydro
Architecture: any
Depends: ${misc:Depends}, python, daemontools, build-essential, python-rosdep, python-rosinstall, python-rospkg, libprotobuf-dev, libprotoc-dev, libtar-dev, ros-hydro-ros-base, ros-hydro-ros-comm, ros-hydro-geometry-msgs, ros-hydro-sensor-msgs, ros-hydro-nav-msgs, ros-hydro-tf, ros-hydro-pcl-ros, ros-hydro-nodelet, ros-hydro-robot-state-publisher, ros-hydro-diagnostic-msgs, ros-hydro-dynamic-reconfigure, ros-hydro-ecl-threads, ros-hydro-ecl-devices, ros-hydro-ecl-streams, ros-hydro-ecl-mobile-robot, ros-hydro-diagnostics, ros-hydro-xacro, ros-hydro-visualization-msgs, ros-hydro-navigation, ros-hydro-slam-gmapping, ros-hydro-tf2-bullet, ros-hydro-zeroconf-avahi, ros-hydro-openni-launch, ros-hydro-rviz, ros-hydro-robot-model, ros-hydro-rqt, ros-hydro-joystick-drivers, ros-hydro-image-transport, ros-hydro-image-transport-plugins, ros-hydro-rocon-multimaster, ros-hydro-warehouse-ros, ros-hydro-python-orocos-kdl, ros-hydro-dynamixel-motor, ros-system-daemon-hydro
Provides: turtlebot-ros
Description: ROS Hydro specific files for TurtleBot 2
Conflicts: 
